<footer>
    <nav>
      <ul>
        <li><a href="https://webpages.charlotte.edu/dmoncada/" target="_blank">CLT Web</a></li>
        <li><a href="https://github.com/danielmoncada7/danielmoncada7.github.io" target="_blank">GitHub</a></li>
        <li><a href="https://danielmoncada7.github.io/" target="_blank">GitHub Pages</a></li>
        <li><a href="https://www.freecodecamp.org/dannymoncada" target="_blank">FreeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/dannymoncada" target="_blank">Codecademy</a></li>
        <li><a href="https://www.linkedin.com/in/danny-moncada-ba45a02b6" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
    <p>
      Page built by <strong>Moncada Web Solutions</strong>,
      <a href="https://www.freecodecamp.org/certification/dannymoncada/javascript-algorithms-and-data-structures-v8"
         target="_blank"
         rel="noopener">
         Certified in JS
      </a>
      &copy; 2025
    </p>
  </footer>
  