<header>
    <h1>ITIS3135 - Danny Moncada</h1>
    <nav>
        <ul>
            <li><a href="https://webpages.charlotte.edu/dmoncada/itis3135/index.html">Home</a></li>
            <li><a href="https://webpages.charlotte.edu/dmoncada/itis3135/introduction.html">Introduction</a></li>
            <li><a href="https://webpages.charlotte.edu/dmoncada/itis3135/contract.html">Contract</a></li>
            <li><a href="https://webpages.charlotte.edu/dmoncada/itis3135/website_evaluations.html">Website Evaluations</a></li>
            <li><a href="https://webpages.charlotte.edu/dmoncada/itis3135/THIS_PAGE_IS_BAD_&_UGLY.htm">Crappy Webpage</a></li>
        </ul>
    </nav>
</header>
