<header>
    <h1>ITIS3135 – Danny Moncada</h1>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="introduction.html">Introduction</a></li>
        <li><a href="contract.html">Course Contract</a></li>
        <li><a href="website_evaluations.html">CRAP Website Discovery and Evaluation</a></li>
        <li><a href="byo_intro.html">BYO Intro</a></li>
        <li><a href="slideshow.html">Name Slideshow</a></li>
        <li><a href="drawing.html">P5 Drawing</a></li>  
      </ul>
    </nav>
  </header>
  